In [134]:
import requests
from secrets_config import api_key
import pandas as pd
# api_key = os.environ.get("api_key")

In [135]:
# Variables Note: these are case-sensitive
from_symbol = 'USD'
to_symbol = 'RUB'

In [132]:
def extract_fx_rates(
    from_symbol:str,
    to_symbol:str,
    api_key:str
)->pd.DataFrame:
    base_url = f'https://www.alphavantage.co/query?function=FX_DAILY&from_symbol={from_symbol}&to_symbol={to_symbol}&apikey={api_key}'
    r = requests.get(base_url)
    response_data = r.json()
    df = pd.DataFrame(response_data['Time Series FX (Daily)']).transpose().reset_index()
    df = df.rename(columns={ df.columns[0]: "Date" })
    df['from'] = f'{from_symbol}'
    df['to'] = f'{to_symbol}'
    return df

In [133]:
extract_fx_rates(from_symbol=from_symbol, to_symbol=to_symbol, api_key=api_key)

          Date   1. open   2. high    3. low  4. close from   to
0   2022-09-28  58.15000  59.19200  56.87300  57.88420  USD  RUB
1   2022-09-27  58.48880  59.40000  57.27500  58.89590  USD  RUB
2   2022-09-26  57.05000  58.86190  56.00000  58.48980  USD  RUB
3   2022-09-23  59.87250  60.23500  55.67500  56.87000  USD  RUB
4   2022-09-22  61.58480  61.60670  58.25000  59.89990  USD  RUB
..         ...       ...       ...       ...       ...  ...  ...
95  2022-05-18  65.67500  65.72420  61.77500  64.73920  USD  RUB
96  2022-05-17  63.87500  65.68300  62.87500  65.47500  USD  RUB
97  2022-05-16  64.75000  64.87500  62.75000  63.87500  USD  RUB
98  2022-05-13  65.07500  66.10730  62.08350  64.50000  USD  RUB
99  2022-05-12  66.73790  67.00000  63.00000  64.74700  USD  RUB

[100 rows x 7 columns]